@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

body {
	background-color: #111;
	background: #111;
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 110vw;
	height: 110vh;
	object-fit: cover;
}

section h1 {
	position: absolute;
	color: #fff;
	font-size: 16em;
	transform: translate(0, -20%);
}

#centered-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, +80%);
	transform: translate(-50%, +7em);
}

/*! Buttons */
.btn {
	-webkit-align-items: center;
	-webkit-background-clip: padding-box;
	-webkit-justify-content: center;
	align-items: center;
	background-clip: padding-box;
	background-color: white;
	border-radius: 100px;
	border-width: 2px;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	display: -webkit-inline-flex;
	display: inline-flex;
	font-size: 16px;
	font-weight: 500;
	justify-content: center;
	letter-spacing: 1px;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	white-space: normal;
	word-break: break-word;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
	background: none;
	border-color: #ffffff;
	color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
	color: #000000;
	background-color: #ffffff;
	border-color: #ffffff;
}

.fade-in {
	animation: fadeIn ease 2s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
}

.fade-in2 {
	animation: fadeIn ease 3s;
	animation-fill-mode: forwards;
}