* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: rgb(51, 51, 51);
	margin: 0;
	padding-top: 0;
	border-top: 0;
	border-radius: 0;
	padding-bottom: 0;
	overflow-x: hidden;
}

section {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

img {
	max-width: 100%;
}

.navgrid {
	display: grid;
	grid-template-columns: 2.5em auto;
	gap: 0px;
	row-gap: 20px;
	grid-auto-rows: minmax(100px, auto);
}

.hide {
	color: rgb(0, 0, 0, 0);
}

.parallax {
	background-image: url("images/spacebg.jpg");
	min-width: 101vh;
	min-height: 200vh;
	align-self: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sidebar {
	width: 2.5em;
	height: 300vmax;
	background-color: rgb(255, 255, 255);
	position: fixed;
}

.verticaltext {
	writing-mode: vertical-rl;
	text-orientation: upright;
	padding: -1;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	letter-spacing: 1em;
	vertical-align: center;
	margin-top: 25vh;
	position: fixed;
	color: rgba(0, 0, 0, 0);
	text-decoration: none;
}

.sidebar:hover .verticaltext {
	color: rgba(0, 0, 0, 0);
}

.header {
	grid-column: 2;
	position: relative;
	min-height: 77px;
	margin-left: 5em;
	min-width: 45%;
	max-width: 100%;
}

.header h1 {
	font-size: 6em;
	margin: 0em;
	text-decoration: none;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: rgb(255, 255, 255);

}

.header button {
	background-color: beige;
	border: rgb(155, 155, 155);
	color: rgb(0, 0, 0);
	padding: 0.5vh 1vw;
	text-align: center;
	text-decoration: none;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	display: inline-block;
	font-size: 1.25em;
}

.header:after {
	content: "";
	clear: both;
	display: grid;
}

.header button:hover {
	background-color: rgb(101, 182, 214);
}

.content {
	grid-column: 2;
	margin: 0em;
	margin-left: 2em;
	margin-right: 2em;
	text-decoration: none;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: rgb(255, 255, 255);
}

.footer {
	background-color: rgb(255, 255, 255);
	bottom: 0;
	color: rgb(0, 0, 0);
	left: 0;
	position: fixed;
	height: 2.5em;
	width: 100%;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
