/* future ref: https://developer.mozilla.org/en-US/docs/Web/CSS/Viewport_concepts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
	text-decoration: none;
}

body {
	position: relative;
	background-color: rgb(51, 51, 51);
	border-top: 0;
	border-radius: 0;
	padding-bottom: 0;
	overflow-x: hidden;
}

body::selection {
	background: transparent;
}

.qotd {
	text-shadow: 3px 3px rgb(0, 0, 0);
	font-size: 1.3em;
}

img {
	max-width: 100%;
}

/* footer */
.header {
	grid-column: 2;
	position: relative;
	min-height: 77px;
	margin-left: 3em;
	margin-bottom: 3em;
	min-width: 45%;
	max-width: 100%;
}
.header::selection {
	background: transparent;
}
.header h1,
.header h1 > a {
	font-size: 2.25em;
	margin-top: 10px;
	text-decoration: none;
	font-family: "Poppins", "Arial Narrow", Arial, sans-serif;
	color: rgb(255, 255, 255);
	text-shadow: 3px 3px rgb(0, 0, 0);
	transition: fadeIn 0.6s ease-in-out;
}
.header h1>a:hover {
	color: rgb(101, 182, 214);
	transition: all 0.2s ease-in-out;
}
.header button {
	-webkit-align-items: center;
	-webkit-background-clip: padding-box;
	-webkit-justify-content: center;
	align-items: center;
	background-clip: padding-box;
	background-color: white;
	border-radius: 100px;
	border-width: 2px;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	display: -webkit-inline-flex;
	display: inline-flex;
	font-size: 16px;
	font-weight: 500;
	justify-content: center;
	letter-spacing: 1px;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	white-space: normal;
	word-break: break-word;
	text-shadow: 2px 2px rgb(0, 0, 0);
	transition: all 0s ease-in-out;
}
.header button,
.header button:active,
.header button.active {
	background: none;
	border-color: #ffffff;
	color: #ffffff;
}
.header button:hover,
.header button:focus,
.header button.focus {
	color: #000000;
	background-color: #ffffff;
	border-color: #ffffff;
	text-shadow: 0px 0px white;
	transition: all 0.2s ease-in-out;
}
.header:after {
	content: "";
	clear: both;
	display: grid;
}

section p {
	color: black;
	font-size: 1.25em;
	margin-top: 0em;
	background-clip: padding-box;
	background-color: white;
	border-radius: 10px;
	border-width: 2px;
	padding: 1em;
	padding-left: 1.5em;
}

.quote {
	grid-column: 2;
	margin-left: 3em;
	margin-right: 3em;
	text-decoration: none;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-weight: 600;
	color: rgb(255, 255, 255);
}

/* content */
.content {
	grid-column: 2;
	margin: 3em;
	text-decoration: none;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-weight: 600;
	color: rgb(255, 255, 255);
}

/* footer */
.footer {
	grid-row: 3;
	grid-column: 1 / 2;
	background-color: rgb(255, 255, 255);
	bottom: 0;
	color: rgb(0, 0, 0);
	left: 0;
	position: fixed;
	height: 2.5em;
	width: 100%;
	text-align: center;
}
.footer p {
	font-family: "Poppins";
	font-size: 1.5em;
}

/*! buttons */
.btn {
	-webkit-align-items: center;
	-webkit-background-clip: padding-box;
	-webkit-justify-content: center;
	align-items: center;
	background-clip: padding-box;
	background-color: white;
	border-radius: 100px;
	border-width: 2px;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	display: -webkit-inline-flex;
	display: inline-flex;
	font-size: 16px;
	font-weight: 500;
	justify-content: center;
	letter-spacing: 1px;
	margin: 0.4rem 0.8rem;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	white-space: normal;
	word-break: break-word;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
	background: none;
	border-color: #ffffff;
	color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
	color: #000000;
	background-color: #ffffff;
	border-color: #ffffff;
}

.navgrid {
	display: grid;
	grid-template-rows: 10em auto 2.5em;
	grid-template-columns: 2.5em auto;
	gap: 0px;
}

.parallax {
	background-image: url("../images/spacebg.jpg");
	min-width: 101vh;
	min-height: 200vh;
	align-self: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sidebar {
	width: 2.5em;
	height: 300vmax;
	background-color: rgb(255, 255, 255);
	position: fixed;
	transition: background-color 0.2s ease-in-out;
}
.sidebar:hover {
	background-color: rgb(101, 182, 214);
	transition: background-color 0.2s ease-in-out;
}

.fade-in {
	animation: fadeIn ease 1s;
}

@keyframes fadeIn {
	0% {
	  opacity:0;
	  transform: translate(0px, -100px)
	}
	100% {
	  opacity:1;
	  transform: translate(0px, 0px)
	}
}


.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  color: #666;
  text-align: center;
  font-size: 30px;
  padding-left: 2em;
  padding-right: 2em;
}

.days {
	padding: 10px 0;
	background: #eee;
	margin: 0;
  }
  
.days li {
	list-style-type: none;
	display: inline-block;
	width: 8.2em;
	text-align: center;
	margin-bottom: 5px;
	font-size:20px;
	color: #777;
  }